accelerate==1.5.2
bitsandbytes==0.45.5
click==8.1.7
datasets==3.5.0
deepspeed==0.16.5
gdown==5.2.0
numpy==1.26.4
peft==0.15.1
skimage==0.25.2
torch==2.5.1
transformers==4.54.0
trl==0.16.0
vllm==0.10.0
wandb==0.21.0